
<h1>Generate Code</h1>

<div>
    <h2>Templates</h2>
    <div>
      <select name="" id="" [(ngModel)]="selectedTemplateName">
        <option *ngFor="let template of templates" [ngValue]="template.TemplateNameCategory"> {{ template.TemplateNameCategory }} </option>
      </select>
    </div>
  </div>


  <div>
    <h2>Tables</h2>
    <div>
      <select name="" id="" [(ngModel)]="selectedTableId">
        <option *ngFor="let table of tables" [ngValue]="table.TableId"> {{ table.TableName }} </option>
      </select>
    </div>
  </div>

  <div class="mt-4">
    <button (click)="generateCode()">Generate Code</button>
  </div>

  <div class="mt-2">
      <textarea name="txtGeneratedCode" id="txtGeneratedCode" cols="100" rows="20" [(ngModel)]="generatedCode"></textarea>
  </div>
  